@model Ogrenci
@{
    ViewData["Title"] = "Add Student";
    //action="/Student/AddStudent"
}

<h1>Öğrenci Ekleme</h1>

<form asp-action="AddStudent" asp-controller="Student" method="post">
    <label class="fw-bold">Ad:</label>
    <input type="text" id="Ad" name="Ad" />
    <label class="fw-bold">Soyad:</label>
    <input type="text" asp-for="Soyad"/>
    <label class="fw-bold">Numara:</label>
    <input asp-for="Numara" />
    <input type="submit" class="btn btn-outline-warning" value="Kaydet" />
</form>